{% extends "base.html" %}

{% block content %}
    <h1>Добавление предмета</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.sity.label }}<br>
            {{ form.sity(class="form-control", type="text") }}<br>
            {% for error in form.sity.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.address.label }}<br>
            {{ form.address(class="form-control", type="text") }}<br>
            {% for error in form.address.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.update.label }}<br>
            {{ form.update(class="form-control", type="text") }}<br>
            {% for error in form.update.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}