{% extends "base.html" %}

{% block content %}
    <h1>Добавление предмета</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control", type="text") }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.img.label }}<br>
            {{ form.img(class="form-control", type="text") }}<br>
            {% for error in form.img.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(class="form-control", type="text") }}<br>
            {% for error in form.price.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.price_down.label }}<br>
            {{ form.price_down(class="form-control", type="text") }}<br>
            {% for error in form.price_down.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.size.label }}<br>
            {{ form.size(class="form-control", type="text") }}<br>
            {% for error in form.size.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.count.label }}<br>
            {{ form.count(class="form-control", type="text") }}<br>
            {% for error in form.count.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.type_wear.label }}<br>
            {{ form.type_wear(class="form-control", type="text") }}<br>
            {% for error in form.type_wear.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}